---
layout: default
title: About
---


<links>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> </links>
<body id="people">
<div id="content" class="content-area" style="box-sizing: border-box;">
  
  <main role="main" id="main" class="site-main">
    <section class="block" style="background-color: #fff;
    position: relative;
    min-height: 100px;
    max-width: 1920px;
    margin: 0 auto;">
      <div class="" style="    margin: 0 auto;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;">
        
  <div class="box-wrapper" style="height: 300px;position: relative; background-image: url(/assets/img/background/back.jpg);">
    <div class="heading" style="position:absolute;
        padding :125px 0;
        right: 0;
        margin-right: 10px;">
      <h1 style="font-family: 'Anton', sans-serif; color: white; text-align: center;"> <b>The Genomics Team</b></h1>
    </div>
  
</div>
<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
  <div class="row-fluid ">
  <div class="span12 widget-span widget-type-cell container" style="" data-widget-type="cell" data-x="0" data-w="12">
  
  <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
  <div class="row-fluid ">
  <div class="span12 widget-span widget-type-cell inner-hubspot" style="" data-widget-type="cell" data-x="0" data-w="12">
  
        <div class="wrapper" style="display: grid; grid-template-columns: 1fr 1fr 1fr; ;gap: 10px; grid-auto-flow:dense; ">
          {% for person in site.people %}
          
            <div class="card mb-4 border-0" style="width: 20vw;height: 500px; border-top: 0;">
              <img src="/assets/img/{{ person.pid }}.jpg" class="card-img-top" alt="..." onerror="this.onerror=null; this.src='https://via.placeholder.com/320'" style="border-radius:50%; width: 250px;height: 250px; object-fit:cover;object-position:50% 50%;">
              <div class="card-body">
                <h5 class="card-title">{{ person.forname | capitalize }}</h5>
                <p class="card-text">{{ person.excerpt }}</p>
                <hr>
                <p id="tags_{{person.pid}}"></p>
                <script>
                  function getMultipleRandom(arr, num) {
                    const shuffled = [...arr].sort(() => 0.5 - Math.random());
        
                    return shuffled.slice(0, num);
                  }
                  tags = []
                  {% for tag in person.tags %}
                    tags.push('<span class="badge bg-primary style=background-color:rgb(0,191,111)">{{ tag }}</span>')
                  {% endfor %}
                  document.getElementById("tags_{{person.pid}}").innerHTML = getMultipleRandom(tags, 3).join(" ")
                </script>
                <hr>
                <a href="{{ person.url }}" class="btn btn-outline" style="color: rgb(49,48,48); background-color:rgb(0,191,111)">More</a>
             
            </div>
          </div>
          {% endfor %}
        </div>
        
      </div>
    </section>
  </main>

<!-- <ul>
    {% for person in site.people %}
      <li>
        {{ person.name }}
        {{ person.excerpt }}
        <img src="/assets/img/{{ person.name }}.jpg" alt="sdsd">
        {% for tag in person.tags %} <span class="badge badge-primary">{{ tag }}</span> {% endfor %}
      </li>
  {% endfor %}

</ul>
 -->

</div>
</div></body>