---
layout: default
title: About
---
<style>
    @import url('https://fonts.googleapis.com/css?family=Cairo');
html, body {
    height: 100%;   
}
.container {
   min-width: 100% !important;/*Set your own width %; */
}
#first1,#first2,#first3,#first4,#first5,#first6{
    
    background-color: rgb(248, 248,248);
    height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body{
  background: #42455a;
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin: 100px;
}

 .text-container{
   display: flex;
}
.text-container {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}


@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal:nth-child(1){
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal:nth-child(2){
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active:nth-child(1){
  transform: translateY(0);
  opacity: 1;
}
.reveal.active:nth-child(2){
  transform: translateY(0);
  opacity: 1;
}

</style>
<scripts>

    <script type="text/javascript">
    function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
}

window.addEventListener("scroll", reveal);


    </script>

</scripts>

<body id="research">

    <section class="heading" style="height: 100vh;">
        
    <div class="text" style="position: absolute;
    top: 50%;
   
    margin-top: -50px;
    
    width: 100%;
    text-align: center;">
        <div class="row">
            <div class="col-sm-6 mx-auto">
            <h1 style="font-family: Cairo;text-align: center; text-transform: uppercase;">Our Tuberculosis Projects</h1>
        </div>
        
       
    </div>
</section>

<section class="project-list">

    <div class="container " >
       
        <div class="row gy-5 reveal" style="margin-top: 20px; ">
            {% assign my_counter = 0 %}
            {% for projects in site.projects %}
            {% if projects.theme == "tuberculosis"%}
            
            {% assign my_counter = my_counter | plus: 1  %}
            {% assign value = my_counter | modulo:2 %}
            {% if value == 0 %}
            <div class='col-sm-6' id="first{{my_counter}}">
                <div class="text-container">
                    <p>{{projects.name}}</p>
                </div></div>
            <div class='col-sm-6' id="first{{my_counter}}">
                <img class="revealUp" src="/assets/img/projects/tuberculosis/{{projects.pid}}.png " style="object-fit: contain; width:100%;">
            </div>
           
            {% else %} 
           
            <div class='col-sm-6' id="first{{my_counter}}">
                <img src="/assets/img/projects/tuberculosis/{{projects.pid}}.png " style="object-fit: contain; width:100%;">
            </div>
            <div class='col-sm-6' id="first{{my_counter}}">
                <div class="text-container">
                <p>{{projects.name}}</p>
            </div></div>
            
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        
         </div>

</section>


  