---
layout: default
title: workshops
---
<links>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap" rel="stylesheet"> 
    
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  </links>
 
<scripts>
  <script src="https://kit.fontawesome.com/f8a9821c7d.js" crossorigin="anonymous"></script>

</scripts>


<style>
 .yearList li{
        width: 12.5%;
        float: left;
        display: inline;
    }
    .text-align h1 {
  color:white; font-family: 'Heebo', sans-serif; bottom: 0; right: 0; position: absolute; margin-right: 40px;
}

@media (max-width: 900px) {
    .text-align h1 {
  color:white;  font-size: 20px; font-family: 'Heebo', sans-serif; bottom: 0; right: 0; position: absolute; margin-right: 20px;
}

}
i {
    font-size: 22px;
}
hr{
  color: rgb(0,191,111);
}


  footer {
    z-index: 9; 
  
}
#popUp h4,h6{
    text-align: center;
    font-family: 'Lora', serif;
    padding:20px
}
#text_before_map h4,h6{
  text-align: center;
    font-family: 'Lora', serif;
    padding:20px
}

.headerContainer{
    padding-top:100px;
}
.team-list{
  font-family: 'Lora', serif;
font-style: italic;
display: inline;
cursor: pointer;
margin: 20px;



  }
  #currText{
    font-weight: 700;
  }
  .team-list:hover{
    font-weight: 700;
  }
  
#chartdiv {
  padding: 50px;
  width: 100%;
  height: 100vh;
}
#pop-up{
  position: absolute;
  top:0;
  right:0;
  z-index: 10;
  opacity: 0;
  width:0px;
  height: 100vh;
  transition: opacity 1s ease-in-out, width 1s ease-in-out;
  background-color: rgb(49,48,48);
  color: white;
  font-family: 'Lora', serif;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow-y: scroll;
  box-shadow:0 0 10px 1px rgb(0,191,111);
}
.map{
  position: relative;
}
.card-text{
  padding:10px;
}
.card-text-header{
  padding-top: 30px;
}
#pop-up img{
  border-radius: 15px;
  height: auto;
  justify-content: center;
  margin:0 auto;
  display:block; max-width: 75%; align-items: center; margin-top: 20px;
}
#pop-up .row{
  border-bottom: dotted 1px white;
}
#pop-up .image{
  padding-bottom: 20px;
  
}
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!-- Chart code -->
<script>
am5.ready(function() {

var root = am5.Root.new("chartdiv");

root.setThemes([
  am5themes_Animated.new(root)
]);

var chart = root.container.children.push(am5map.MapChart.new(root, {
  panX: "rotateX",
  panY: "rotateY",
  wheelY: "none",
  projection: am5map.geoOrthographic(),
 
}));
chart.animate({
  key: "rotationX",
  from: 0,
  to: 360,
  duration: 30000,
  loops: Infinity
});


var polygonSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {
  geoJSON: am5geodata_worldLow,
  fill: am5.color("#313030"),
}));


var backgroundSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {}));
backgroundSeries.mapPolygons.template.setAll({
  fill: am5.color("#313030"),
  fillOpacity: 0.1,
  strokeOpacity: 0
});
backgroundSeries.data.push({
  geometry: am5map.getGeoRectangle(90, 180, -90, -180)
});



var lineSeries = chart.series.push(am5map.MapLineSeries.new(root, {}));
lineSeries.mapLines.template.setAll({
  stroke: root.interfaceColors.get("alternativeBackground"),
  strokeOpacity: 0.2
});


var citySeries = chart.series.push(
  am5map.MapPointSeries.new(root, {})
);
var bulletTemplate = am5.Template.new(root, {});

bulletTemplate.events.on("click", function(ev) {
  
  showWorkshops(ev.target.dataItem.dataContext.title)
});


bulletTemplate.set("cursor", "pointer");
citySeries.bullets.push(function() {
  var circle = am5.Circle.new(root, {
    radius: 5,
    tooltipText: "{title}",
    tooltipY: 0,
    fill: am5.color(0xffba00),
    interactive: true,
    stroke: root.interfaceColors.get("background"),
    strokeWidth: 2,
    cursorOverStyle: "pointer",
 
  },bulletTemplate);
  circle.states.create('hover', {
  scale: 3
});
  return am5.Bullet.new(root, {
    sprite: circle

  });
});

// arrow series
var arrowSeries = chart.series.push(
  am5map.MapPointSeries.new(root, {})
);

arrowSeries.bullets.push(function() {
  var arrow = am5.Graphics.new(root, {
    fill: am5.color(0x00BF6F),
    stroke: am5.color(0x000000),
    draw: function (display) {
      display.moveTo(0, -3);
      display.lineTo(8, 0);
      display.lineTo(0, 3);
      display.lineTo(0, -3);
    }
  });

  return am5.Bullet.new(root, {
    sprite: arrow
  });
});

var cities = [
  {
    id: "london",
    title: "London",
    geometry: { type: "Point", coordinates: [-0.1262, 51.5002] },
  },{
    id: "lisbon",
    title: "Lisbon",
    geometry: { type: "Point", coordinates: [-9.1355, 38.7072] }
  },{
    id: "hanoi",
    title: "Hanoi",
    geometry: { type: "Point", coordinates: [105.804,21.02] }
  }, {
    id: "kuala lumpur",
    title: "Kuala Lumpur",
    geometry: { type: "Point", coordinates: [101.693207, 3.14] }
  }, {
    id: "manilla",
    title: "Manilla",
    geometry: { type: "Point", coordinates: [ 120.984222,  14.599512] }
  }, {
    id: "bangkok",
    title: "Bangkok",
    geometry: { type: "Point", coordinates: [100.523,13.736 ] }
  }, {
    id: "singapore",
    title: "Singapore",
    geometry: { type: "Point", coordinates: [103.85,1.29 ] }
  }, {
    id: "cape town",
    title: "Cape Town",
    geometry: { type: "Point", coordinates: [18.406263,-34.254570] }
  }, {
    id: "sao paolo",
    title: "Sao Paolo",
    geometry: { type: "Point", coordinates: [-46.33, -23.944] }
  }, {
    id: "maringa",
    title: "Maringa",
    geometry: { type: "Point", coordinates: [-51.933, -23.4209] }
  }, {
    id: "mali",
    title: "Mali",
    geometry: { type: "Point", coordinates: [-3.996, 17.5706] }
  }, {
    id: "oxford",
    title: "Oxford",
    geometry: { type: "Point", coordinates: [-1.257, 51.752] }
  }, {
    id: "cambridge",
    title: "Cambridge",
    geometry: { type: "Point", coordinates: [0.1191, 52.205] }
  },
   {
    id: "ungku omar",
    title: "Ungku Omar",
    geometry: { type: "Point", coordinates: [101.075, 4.6005] }
  },
   {
    id: "angeles",
    title: "Angeles",
    geometry: { type: "Point", coordinates: [120.591,15.156] }
  },
   {
    id: "davao city",
    title: "Davao city",
    geometry: { type: "Point", coordinates: [125.395,7.2075] }
  }];

citySeries.data.setAll(cities);


var destinations = ["maringa","mali","oxford","ungku omar","cambridge","sao paolo", "lisbon", "cape town", "singapore", "bangkok", "manilla", "kuala lumpur", "hanoi","angeles","davao city"];

var originLongitude = -0.1262;
var originLatitude = 51.5002;

am5.array.each(destinations, function (did) {
  var destinationDataItem = citySeries.getDataItemById(did);
  var lineDataItem = lineSeries.pushDataItem({ geometry: { type: "LineString", coordinates: [[originLongitude, originLatitude], [destinationDataItem.get("longitude"), destinationDataItem.get("latitude")]] } });

  arrowSeries.pushDataItem({
    lineDataItem: lineDataItem,
    positionOnLine: 0.5,
    autoRotate: true
  });
})

chart.chartContainer.wheelable = false;

chart.appear(1000, 100);

});

function showWorkshops(country) {
    var popUp = document.getElementById('pop-up');
    var workshops = popUp.getElementsByClassName('row');

    if(popUp.style.opacity == 1){
      popUp.style.opacity = 0;
      popUp.style.width = "0px";

      setTimeout(function() {
      for (var i = 0; i < workshops.length; i++) {
          if (workshops[i].dataset.country == country) {
              workshops[i].style.display = 'block';
          } else {
              workshops[i].style.display = 'none';
          }
      }
      
      
      popUp.style.opacity = 1;
      popUp.style.width = "25vw";
    }, 1000);  
    }else{
      for (var i = 0; i < workshops.length; i++) {
        if (workshops[i].dataset.country == country) {
            workshops[i].style.display = 'block';
        } else {
            workshops[i].style.display = 'none';
        }
    }
    popUp.style.opacity = 1;
    popUp.style.width = "25vw";
  }
}
function closePanel(){
  
  var popUp = document.getElementById('pop-up');
  popUp.style.width = "0px"
  popUp.style.opacity = 0
}
</script>




<div class="main">
    {% assign my_array = "" | split: ',' %}
    <section class="heading" style="background-color:  rgb(49,48,48);height: 19vh; position: relative;">
        <div class="container" >
            <div class="text-align"  style=" box-shadow: 0 1px 6px rgb(255,255,255,0.3), 0 1px 4px rgba(255,255,255,0.2); background-color:rgb(0,191,111) ;position: absolute; bottom: 0; right: 0; width: 40vw; height: 80px; border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
                <h1 >WORKSHOPS</h1>
            </div>     
    </section>
    <section class="headerContainer">
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="text_before_map">
                    <h4>As a team we have travelled the world teaching students the wonders of genomics.</h4>
                    <h6>Take a look below by clicking a place on the map!</h6>
                </div>
            </div>
        </div>

    </section>
  
<section class="map">
    <div id="chartdiv"></div>
    <div class="pop-up" id="pop-up">
      {% for workshop in site.workshops %}
      {% assign image = workshop.pid %}
      <div class="container" id="workshopcontainer">
      <div class="row" id="{{workshop.country}}" data-country="{{workshop.country}}"  style="margin-bottom: 100px;">
                
        <div class="col-md-12">
            <div class="workshop">
                <h4 class="card-text-header" >{{workshop.name}}</h4>
                <h6 class="card-text-header">{{workshop.year}}</h6>
                <p class="card-text" >{{workshop.excerpt}}</p>
            </div>
        </div>
            <div class="col-md-12">
                <div class="image" style="position: relative;">
                  <img class="card-img-top p-2"  src="/assets/img/workshops/{{image}}.jpg" alt="workshop Image">
                  <button onclick="closePanel()" style="margin:0 auto;
                  display:block; width: 50%; align-items: center; margin-top: 20px;" class="btn btn-sm btn-outline-secondary">Close panel</button>
                </div>
            </div>
        </div>
      
    </div>
    {% endfor %}
  </div>
</section>
<!--<section class="lists">
    <div class="list-section" style="margin-bottom: 200px; margin-top:200px;background-color: rgb(248, 248, 248);">
        <ul style="list-style: none;box-sizing: border-box; text-align: center; " class="past-present">
          <li class="team-list" id="inText" onclick="changeWorkshop('in')">LSHTM internal courses</li>
          <li class="team-list" id="exText" onclick="changeWorkshop('ex')"> External global courses</li>
        </ul></div>
</section>
-->
<!--
<section class="workshop-list" style="margin-top: 200px;">
    <div class="container">
        
        <div class="workshops"  style="display: block; margin-top: 200px;">
            {% for workshop in site.workshops %}
            {% if workshop.place == "in" %}
            {% assign image = workshop.pid %}
            <div class="in" id="in">
            <div class="row" style="margin-bottom: 100px;">
                
                    <div class="col-md-8">
                        <div class="workshop">
                            <h4 class="card-text" >{{workshop.name}}</h4>
                            <p class="card-text" style="margin-top: 50px;">{{workshop.excerpt}}</p>
                        </div>
                    </div>
                        <div class="col-md-4">
                            <div class="image" style="position: relative;">
                              <img class="card-img-top p-2" style="height: 250px; width: auto; display:block;
                              margin:auto;  align-items: center;" src="/assets/img/workshops/{{image}}.jpg" alt="workshop Image">
                              <a href="{{workshop.link}}" style="margin:0 auto;
                              display:block; width: 50%; align-items: center; margin-top: 20px;" class="btn btn-sm btn-outline-secondary">Learn more!</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                    {% else %}
                    {% assign image = workshop.pid %}
                    <div class="ex" id="ex">
                    <div class="row" style="margin-bottom: 100px;">
                
                        <div class="col-md-8">
                            <div class="workshop">
                                <h4 class="card-text" >{{workshop.name}}</h4>
                                <p class="card-text" style="margin-top: 50px;">{{workshop.excerpt}}</p>
                            </div>
                        </div>
                            <div class="col-md-4">
                                <div class="image" style="position: relative;">
                                  <img class="card-img-top p-2" style="height: 250px; width: auto; display:block;
                                  margin:auto;  align-items: center;" src="/assets/img/workshops/{{image}}.jpg" alt="workshop Image">
                                  <a href="{{workshop.link}}" style="margin:0 auto;
                                  display:block; width: 50%; align-items: center; margin-top: 20px;" class="btn btn-sm btn-outline-secondary">Learn more!</a>
                                </div>
                            </div>
                        </div>
                     </div>
                     {% endif %}
                     {% endfor %}
                </div>
        
    </div>
</section>
-->


<script type="text/javascript">
        
    function changeWorkshop(list){
        
        if (list == "ex"){
            var past = document.getElementsByClassName("ex")
            document.getElementById("exText").style.fontWeight = "700"
            document.getElementById("inText").style.fontWeight = "100"
            
            for(i = 0; i < past.length; i++) {
                past[i].style.display= 'block';
                }
                var current = document.getElementsByClassName("in")
            for(i = 0; i < past.length; i++) {
                current[i].style.display= 'none';
                }
            }else{
                var past = document.getElementsByClassName("ex")
                document.getElementById("inText").style.fontWeight = "700"
                document.getElementById("exText").style.fontWeight = "100"
            
            for(i = 0; i < past.length; i++) {
                past[i].style.display= 'none';
                }
                var current = document.getElementsByClassName("in")
            for(i = 0; i < past.length; i++) {
                current[i].style.display= 'block';
                }
            }}
</script>