---
layout: default
title: My Blog
---


<style>
    @media (min-width: 1200px) {
    .container{
        max-width: 1500px
    }
}

@media (max-width: 800px) {
    img{
        display: none;
    }
    .grid-1, .grid-2,.grid-3{
        width: 100%;
    }
}
.heading .container {
  padding: 0 60px;
  box-sizing: border-box;
  content: "";
display: table;
clear: both;
border-spacing: 0;
position: relative;
height: 60vh;
  min-height: 100%;

}
.pastEvents .container{
    padding: 0 60px;
  box-sizing: border-box;
    margin-top: 100px;


}
.col-4 .h1{
     border: 1px solid black;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
}
.events .container{
    padding: 0 60px;
  box-sizing: border-box;
height: 250px;
display: table;
clear: both;
border-spacing: 0;
position: relative;
}
.col-8 {
  width: 60.66667%;
  object-fit: contain;
  position: absolute;
    margin-top: 20px;
  clear: both;
 
}

.col-4{
    object-fit: contain;
}
@media (min-width: 800px) {
    
    .grid-1, .grid-2,.grid-3{
        width: 33.3%;
    }
}
.grid-1 {
  
  min-height: 1px;
box-sizing: border-box;
height: 100px;
float: right;
color: white;
position: absolute;
top: 10vh;
    right: 0px;
    border-style: solid;
    border-color: rgb(0,191,111);
    align-items: center;
    text-align: center;display: flex;
  justify-content: center;
  align-items: center;

}
.grid-2{
    
  min-height: 1px;
box-sizing: border-box;
float: right;
color: white;
position: absolute;
height: 100px;
top: 30vh;
    right: 0px;
    border-color: rgb(0,191,111);
    text-align: center;border-style: solid;display: flex;
  justify-content: center;
  align-items: center;
  
}
.grid-3{
    
  min-height: 1px;
  height: 100px;
box-sizing: border-box;border-style: solid;
    border-color: rgb(0,191,111);float: right;
color: white;
position: absolute;
top: 50vh;
    right: 0px;
    text-align: center;   border-color: rgb(0,191,111);
    display: flex;
  justify-content: center;
  align-items: center;
  
    border-style: solid;
}

 a{
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
}
.author{
    height:fit-content;
}
.pastEvents a{
    color: rgb(49,48,48);
}
.pastEvents a:hover{
    color:rgb(0,191,111);
}
</style>
<links>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap" rel="stylesheet"> 
     <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</links>

<body id="News">
<!-- This loops through the paginated posts -->
<div class="main">
    {% assign currentYear = site.time | date: "%Y" %}
{% assign currentDay = site.time | date: "%j" | plus: 0 %}
{% assign currentDay_minus_30_days = site.time | date: "%j" | minus: 30  %}

    <section class="heading" style="background-color:  rgb(49,48,48);height: 75vh;">
        <div class="container" >
            <div class="title">
                <div class="text-align"  >
                    <h1 style="color: rgb(0,191,111);display: inline-block;font-family: 'Heebo', sans-serif;">TAGC </h1><h1 style="display: inline-block; font-family: 'Heebo', sans-serif;margin: 10px;color: white;">LATEST NEWS</h1>
                </div>
            </div>
            <div class="newsitems">
                {% for post in site.posts  limit:3 %}
                {% assign my_counter = my_counter | plus: 1 %}
    
    {% assign image = post.pid  %}
                <div class="col-8" id="img{{my_counter}}" style="margin-top: 20px; margin-right: 10px; ">
                    <img src = "/assets/img/newspics/{{image}}.png" id="mainPhoto{{my_counter}}" class="mainPhoto" style="object-fit: contain;max-width:100%;
                    max-height:50vh;">
                </div>
                {% if post.link != "none" %}
                {% assign link = post.link %}
                {% else %}
                {% assign link = post.url %}
                
                {% endif %}
                
                <div class="col-4 grid-{{my_counter}} module" onmouseleave="startTimer()" data-optionid="{{post.pid}}"onmouseover="changeImage{{my_counter}}('{{image}}')" id="grid{{my_counter}}">
                    <a href="{{link}}">{{post.title}}</a>
                </div>
                
                {% endfor %}
            </div>
            
            <div class="bottomevents" style=" font-family: 'Heebo', sans-serif;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); background-color: white; position: absolute; bottom: 0; width: 90%; height: 50px;">
                <h3 style="margin-left: 20px; margin-top: 5px;">Upcoming Events</h3>
            </div>
        </div>
    </section>
    <section class="events">
        <div class="container">
          <div class="bottomevents" style="box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); 
          background-color: white;  width: 90%; height: 200px; position: absolute; top: 0;">
            <div class="row" style="height: inherit;">
              <div class="col-4" style="display: flex; align-items: center; justify-content: center; height: inherit;">
                <p style="margin:0" >doing some teaching</p>
              </div>
              <div class="col-4" style="display: flex; align-items: center; justify-content: center;">
                <p style="margin: 0;">meeting some people</p>
              </div>
              <div class="col-4" style="display: flex; align-items: center; justify-content: center;">
                <p style="margin: 0;">going bangladesh</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% assign count = 0 %}
      
    <section class="pastEvents">
        <div class="container">
            <h3 style="font-family: 'Heebo', sans-serif; border-bottom: 2px solid rgb(0,191,111); border-bottom-width: thin;">
                Past Events
            </h3>
            <div class="row" style="margin-top: 30px;">
                
                {% for post in paginator.posts %}
                {% if post.hidden != true %}
                  {% assign author = site.people | where: "pid", post.author | sample %}
                  {% if post.link != "none" %}
                  {% assign link = post.link %}
                  {% else %}
                  {% assign link = post.url %}
                  
                  {% endif %}
                    <div class="col-xl-4" style="max-height: 400px; overflow-y: hidden;">
                      <div class="title">
                        <h3 style="font-family: 'Heebo', sans-serif; ;"><a href="{{ link }}">{{ post.title }}</a></h3>
                      </div>
                      <div class="content">
                        {{ post.brief }}
                      </div>
                      <div class="author">
                        <hr>
                        <p>
                          <img src="/assets/img/{{ author.pid }}.jpg" class="img-thumbnail" style="width: 3rem;"" alt="..." onerror="this.onerror=null; this.src='https://via.placeholder.com/320'">
                          {{ author.forname }} {{ author.surname }} <span class="date">{{post.date | date: "%-d %B %Y" }}</span>
                        </p>
                      </div>
                    </div>
                   {% endif %}
                {% endfor %}
              </div>
        </div>
    


<!-- Pagination links -->

<nav aria-label="..." style="margin-top: 50px;" class="container">
    <ul class="pagination">
    {% if paginator.previous_page %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
    {% endif %}

    {% assign pstart = paginator.page | minus : 2  | at_least: 1 %}
    {% assign pend = paginator.page | plus  : 2  | at_most: paginator.total_pages%}
    {% for i in (pstart..pend) %}
        {% if i==1 %}
            {% assign link = "/news/" %}
        {% else %}
            {% assign link = "/news/page" | append: i %}
        {% endif %}
        
        {% if i==paginator.page %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="{{ link }}">{{ i }}</a>
            </li>    
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ link }}">{{ i }}</a></li>    
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
    {% endif %}

    </ul>
</nav>
</div>
</div>
</section>
<scripts>
    <script>

        function changeImage(element){
            document.getElementById(element).style.backgroundColor = "rgb(0,191,111)"
        }
    </script>
    <script type="text/javascript">
        

        let colours = ["rgb(0,191,111)","rgb(49,48,48)"];
        
        let div = document.getElementsByClassName("module");
        let img = document.getElementsByTagName("img")
        let img1 = document.getElementById("img1")
        let img2 = document.getElementById("img2")
        let img3 = document.getElementById("img3")
        
        
        const imgElement1 = document.getElementById('mainPhoto1')
        const imgElement2 = document.getElementById('mainPhoto2');
        const imgElement3 = document.getElementById('mainPhoto3');
        var counter = 0;
        var image;
        function doSomething(){
              div[counter].style.backgroundColor = "rgb(0,191,111)";
    
    if(counter ===1){
        
        div[counter-1].style.backgroundColor = "rgb(49,48,48)"
        img1.style.display = "none"
        img2.style.display = "block"
        img3.style.display = "none"
        
        
        div[counter+1].style.backgroundColor = "rgb(49,48,48)"
    }else if (counter ===0){
        img1.style.display = "block"
        img2.style.display = "none"
        img3.style.display = "none"
        div[counter+1].style.backgroundColor = "rgb(49,48,48)"
        
        div[counter+2].style.backgroundColor = "rgb(49,48,48)"
    }else if(counter===2){
        img1.style.display = "none"
   

   img2.style.display = "none"
   img3.style.display = "block"
        div[counter-1].style.backgroundColor = "rgb(49,48,48)"
        div[counter-2].style.backgroundColor = "rgb(49,48,48)"
    }
    
    counter++;
    if(counter === 3) {
        
        counter=0
        setInterval(counter);
    }
}
        

    // do your thing
    
doSomething();
var timer = setInterval(doSomething,5000)
function changeImage1(image){
    
    clearInterval(timer);
    img1.src = "/assets/img/newspics/"+image+".png"
    var string = image
    $('#grid1').css("background", "rgb(0,191,111)");
    $('#grid3').css("background", "rgb(49,48,48)")
    $('#grid2').css("background", "rgb(49,48,48)")
    img1.style.display = "block"
        img2.style.display = "none"
        img3.style.display = "none"
 
} 

function changeImage2(image){
    clearInterval(timer);
    var string = image
    imgElement2.src = "/assets/img/newspics/"+image+".png"
    $('#grid2').css("background", "rgb(0,191,111)");
    $("#grid1").css("background", "rgb(49,48,48)")
    $("#grid3").css("background", "rgb(49,48,48)")
    img1.style.display = "none"
        img2.style.display = "block"
        img3.style.display = "none"
      
}
function changeImage3(image){
    clearInterval(timer); var string = image
    imgElement3.src = "/assets/img/newspics/"+image+".png"
    $('#grid3').css("background", "rgb(0,191,111)");

    $('#grid1').css("background", "rgb(49,48,48)")
    $('#grid2').css("background", "rgb(49,48,48)")
    img1.style.display = "none"
   

   img2.style.display = "none"
   img3.style.display = "block"
   
}
function startTimer(){
    
    timer=setInterval(doSomething,5000)  
}

    </script>

</scripts>
</body>