

<style>
    ul li{
        display: inline-block;
        list-style: none;
        font-size: 14px;
        list-style: none;
        margin: 20px;

        
    }

</style>

<footer class="site-footer" style="background-color:  rgb(49,48,48); width: 100vw;  margin-top: 200px;">
<div class="container" >
    <div class="row" style="color: white;">
    <div class="col-md-6">
        <h2 style="margin-top: 50px; font-family: 'Quicksand', sans-serif;">The Applied Genomics Center For Infectious Diseases</h2><br>
        <p> Keppel Street
            <br>
            London
            <br>
            WC1E 7HT </p><br>
           
        <p> +44 (0) 20 7636 8636</p> <br>

        <ul class="menu" style="font-size: 14px;">
                <li>
                    <a href="https://www.lshtm.ac.uk/aboutus/contact">Contact us</a>
                </li>
                <li>
                    <p>Email us for inquiries <a href="mailto:tagc@lshtm.ac.uk">tagc@lshtm.ac.uk</a>
                </li>
            </ul>
    </div>
    <div class="col-md-6">
        <img src="/assets/img/logo/logo.png">
    </div>
</div>
</div>
</footer>