

<style>
    .footer ul li{
        display: inline-block;
        list-style: none;
        font-size: 14px;
        margin: 20px;

        
    }
.menu{
    list-style: none;
}
.menu a{
    color: rgb(0,191,111);
}
.menu a:hover{
    color: rgb(3, 117, 70);
}
</style>

<footer class="site-footer" style="background-color:  rgb(49,48,48); width: 100%;  margin-top: 200px; position: relative; bottom: 0;">
<div class="container" >
    <div class="row" style="color: white;">
    <div class="col-md-6">
        <h2 style="margin-top: 50px; font-family: 'Quicksand', sans-serif;">The Applied Genomics Centre For Infectious Diseases</h2><br>
        <p> Keppel Street
            <br>
            London
            <br>
            WC1E 7HT </p><br>
           
        <p> +44 (0) 20 7636 8636</p> <br>

        <ul class="menu" style="font-size: 14px;">
                <li>
                    <a href="https://www.lshtm.ac.uk/aboutus/contact">Contact us</a>
                </li>
                <li>
                    <p>Email us for inquiries <a href="mailto:joseph.thorpe@lshtm.ac.uk">tagc@lshtm.ac.uk</a>
                </li>
            </ul>
    </div>
    <div class="col-md-6">
        <img src="/assets/img/logo/logo.png">
    </div>
</div>
</div>
</footer>