
<links>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"></links>
        <style>
            nav.navbar li a {
          color: white;
          font-family: 'Quicksand', sans-serif;
          background-color: rgb(49,48,48);
         
        }
        nav.navbar li a:hover {
            font-weight: 900;
            color: white;
            background-color: rgb(0,191,111);;
        }
        #people  .nav-item-1, #Home .nav-item-2, #Capacity .nav-item-3, #publications .nav-item-4, #research .nav-item-5, #News .nav-item-6, #Funding  .nav-item-7{
          background: rgb(0,191,111);
        }
    
        </style>
        
        
        <nav class="navbar navbar-expand-lg navbar-light  sticky-top justify-content-center " style="background-color: rgba(49, 48, 48); height: 95px; width: 100%;"  >
            <div class="container-fluid" >
                <img src="/assets/img/logo/logo.png" style="width: 150px;height:100px">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(0,191,111);color:white">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse w-100" id="main_nav" style="background-color: rgba(49, 48, 48,0); margin-top: -10px;">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item-2 "> <a class="nav-link" href="/">Home </a> </li>
                    <li class="nav-item-1"><a class="nav-link" href="/people"> The team </a></li>
                    <li class="nav-item-5 dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"  aria-expanded="false">Our research</a>
                        <ul class="dropdown-menu" style="background-color: rgb(49,48,48);">
                            
                                <li><a class="dropdown-item" href="/themes/malaria"> Malaria</a></li>
                            
                                <li><a class="dropdown-item" href="/themes/tuberculosis"> Tuberculosis</a></li>
                                <li><a class="dropdown-item" href="/themes/vectors"> Vectors</a></li>
                                <li><a class="dropdown-item" href="/themes/amr"> AMR</a></li>
                                <li><a class="dropdown-item" href="/themes/viruses"> Viruses</a></li>
                                <li><a class="dropdown-item" href="/themes/software"> Software</a></li>
                                <li><a</li>
                            
                        </ul>
                    </li>
                    <li class="nav-item-3 "><a class="nav-link"  href="/teaching"> Capacity Strenghtening </a></li>
                    
                    
                    <li class="nav-item-4"><a class="nav-link" href="/publications"> Publications </a></li>
                    
                    <li class="nav-item-6 "> <a class="nav-link" href="/news">News </a> </li>
                    <li class="nav-item-7"><a class="nav-link" href="/funding"> Funding </a></li>
                </ul>
                </div> <!-- navbar-collapse.// -->
            </div> <!-- container-fluid.// -->
        </nav>