---
layout: default
title: Funding
---

<links>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap" rel="stylesheet"> </links>

<style>
body{
    overflow-x: hidden;
}
.text-align h1 {
  color:white;   font-family: 'Heebo', sans-serif; bottom: 0; right: 0; position: absolute; margin-right: 40px;
}
.team-list{
    font-family: "Mercury Text G1 A","Mercury Text G1 B",serif;
font-style: italic;
display: inline;
cursor: pointer;
margin: 20px;



  }
  #currText{
    font-weight: 700;
  }
  .team-list:hover{
    font-weight: 700;
  }
  img{
    height: inherit;
    width: auto;
    display:block;
    margin:auto;
    align-items: center;
  }
  .card-text{
    font-size: 25px;
    font-weight: 900;
    font-family: "Mercury Text G1 A","Mercury Text G1 B",serif;
  }
  @media (max-width: 800px) {
  .text-align{
  
  width: 300px; 
 
 }
 
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .text-align{
  
  width: 500px; 
 
 }
}
@media (min-width: 1000px) {
  .text-align{
  
  width: 700px; 
 
 }
}
.text-align{
  box-shadow: 0 1px 6px rgb(255,255,255,0.3), 0 1px 4px rgba(255,255,255,0.2);
  background-color:rgb(0,191,111);
  position: absolute;
  bottom: 0;
  right: 0;
  
  height: 100px;
 }
 .card-img-top{
  height: 200px;
  object-fit: contain;
 }
</style>

<body id="Funding">

<div class="main">
    <section class="heading" style="background-color:  rgb(49,48,48);height: 25vh; position: relative;">
        <div class="container" >
            <div class="text-align">
                <h1 >OUR FUNDERS</h1>
            </div>
            
        
    </section>
    <div class="list-section" style="margin-bottom: 200px; margin-top:200px;background-color: rgb(248, 248, 248);">
        <ul style="list-style: none;box-sizing: border-box; text-align: center; " class="past-present">
          <li class="team-list" id="currText" onclick="changeFunder('current')">Current Funders</li>
          <li class="team-list" id="pastText" onclick="changeFunder('past')"> Past Funders</li>
        </ul></div>
        <section class="funders" style="margin-top: 200px;">
          <div class="container">
            <div class="row current-funders" style="margin-bottom: 100px;">
              {% for funder in site.funders %}
                {% if funder.current == true %}   
                  <div class="col-4">
                    <div class="current" id="current" style="display: block;">
                      <div class="image" style="position: relative;">
                        <img class="card-img-top p-2" src="/assets/img/funders/{{funder.did}}.png" alt="Card image cap">
                        <a href="{{funder.link}}" style="margin:0 auto; display:block; width: 50%; align-items: center; margin-top: 20px;" class="btn btn-sm btn-outline-secondary">Homepage</a>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
            </div>
                  <div class="row past-funders" style="display: none; margin-bottom: 100px;">
                    {% for funder in site.funders %}
                      {% if funder.current != true %}   
                  <div class="col-4">
                    <div class="past" id="past" style="display: block;">
                      <div class="image" style="position: relative;">
                        <img class="card-img-top p-2" src="/assets/img/funders/{{funder.did}}.png" alt="Card image cap">
                      </div>
                      <div class="button">
                        <a href="{{funder.link}}" style="margin:0 auto; display:block; width: 50%; align-items: center; margin-top: 20px;" class="btn btn-sm btn-outline-secondary">Homepage</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </section>
        
    <script type="text/javascript">
        
        function changeFunder(list){
            console.log(list)
            if (list == "past"){
                var past = document.getElementsByClassName("past-funders")
                document.getElementById("pastText").style.fontWeight = "700"
                document.getElementById("currText").style.fontWeight = "100"
                
                for(i = 0; i < past.length; i++) {
                    past[i].style.display= 'flex';
                    }
                    var current = document.getElementsByClassName("current-funders")
                for(i = 0; i < past.length; i++) {
                    current[i].style.display= 'none';
                    }
                }else{
                    var past = document.getElementsByClassName("past-funders")
                    document.getElementById("currText").style.fontWeight = "700"
                    document.getElementById("pastText").style.fontWeight = "100"
                
                for(i = 0; i < past.length; i++) {
                    past[i].style.display= 'none';
                    }
                    var current = document.getElementsByClassName("current-funders")
                for(i = 0; i < past.length; i++) {
                    current[i].style.display= 'flex';
                    }
                }}
    </script>
</div>
</body>