---
layout: default
title: People
---
<links>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/f8a9821c7d.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Della+Respira&display=swap" rel="stylesheet"> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Shadows+Into+Light&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> 
  <script src="/assets/js/jquery/src/jquery.js" ></script><script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
</links>

<style>
  body{
    background-color: rgb(49,48,48);
    overflow-x: hidden;
color: white;
min-height: 100vh;
  }
  .part1{
  
    display: block;
    position:relative;
    margin-bottom: -200px;
    top:0;
    left:0;
    right:0;
  }

.tags {
  display: inline-flex;
  color: white;text-align: center;justify-content: center;align-items: center;
}
.gy-0{
  height: 100vh;
}

  .person{
    height: inherit;
  }
  .part1 .container-fluid .first{
    height: inherit;
    width: 100%;
  }
.part1 .container-fluid .col-8{
  background-color: rgb(49,48,48);
  height: inherit;
}
.part1 .container-fluid #backImage{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/img/background/school.jpg');
  height: inherit;
  background-size: cover;
}
.part1 .container:nth-child(1){
  width:100%;
  margin-top: 50px;
  padding:100px ;
  position: relative;
}
.part1 .image{
    width:250px; height: auto; margin: auto;
    min-width: 250px; display: block; 
    border-radius: 500px 500px 0 0;
    box-shadow: 0px 0px 0px 25px  rgb(49,48,48);
}
.part1 .name{
  font-family: 'Lobster', cursive;
  
}
.part1 h1{
  font-size: 90px;
}

.part1 .container:nth-child(2){
  width:100%;
  margin-top: -100px;
}
.arrow{
  font-size: 70px;
  z-index: 9999;
} 
.col-4 .arrow:hover{
  cursor: pointer;
  transform: scale(1.5);
}
.text{
  margin-top: 40px;
}
 
.second .row{
  display: none;
  
}
.backArrow{
  font-size: 70px;}

.stat{
  display: none;
  margin: 0;
}

#move{
  border-right: solid rgb(146, 145, 145);
  border-top: solid rgb(146, 145, 145)
}

.row [class*='col-'] {
    transition: all 0.5s ease-in-out;
}
.col-8 {
  flex-grow: 1;
  transition: all 400ms ease;
}

.col-4 {
  flex-shrink: 1;
  transition: all 400ms ease;
}
.arrows:hover{
  cursor: pointer;

}
#projectImage1,#projectImage2,#projectImage3,#projectImage4,#projectImage5, #projectImage6,#projectImage7,#projectImage8,#projectImage9,#projectImage10 
,#projectImage11,#projectImage12,#projectImage13,#projectImage14,#projectImage15,#projectImage16,#projectImage17,#projectImage18,#projectImage19,#projectImage20,#projectImage21
,#projectImage22,#projectImage23,#projectImage24,#projectImage25,#projectImage26,#projectImage27,#projectImage28,#projectImage29,#projectImage30,#projectImage31,#projectImage32
,#projectImage33,#projectImage34,#projectImage35,#projectImage36,#projectImage37,#projectImage38,#projectImage39,#projectImage40,#projectImage41,#projectImage42,#projectImage43{
  height: auto;
  opacity: 0;
  margin: 20px;
}.startAnimation {
  animation-name: stretch;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.p-3.startAnimation {
  opacity: 1;
  transform: scale(1);
}
@keyframes stretch {
            0% {
            opacity: 0;
                transform: scale(0);
            }
  
            50% {
              opacity:1;
                transform: scale(2);
            }
  
            100% {
                transform: scale(1);
                opacity:1;
            }
        }
        .col-4{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectList:hover {
	cursor: pointer;
  scale:(2.0);
}
@media (min-width: 978px) {
  .part1 .container:nth-child(1){
  padding:200px
 } 
}

@media (max-width: 978px) {
  .imageArea{
  
 display: none
 
 }
 .part1 .container:nth-child(1){
  padding:0px
 }
 
}
.projectList {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projectList img {
	filter: grayscale();
	width: 150px;
height: 150px;
	border-radius: 25px;
	border: 6px solid whitesmoke;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
	transition: filter 0.4s ease-in-out;
  display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.projectList:hover img {
	filter: none;
  transform: scale(2);
  transition: transform 0.6s ease;
}
.project-image {
  transition: transform 0.5s ease;
  
}

.title {
  transition: transform 0.5s ease;
}
.p-3:hover .title {
  transform: translateY(50px); 
}

.title {
	font-family: 'Lora', serif;
	font-size: 18px;
	color: whitesmoke;
	position: relative;
  text-decoration: none;
  text-align: center;
}
a{
  text-decoration: none;
}
.title::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.projectList:hover .title::after {
	width: 100%;
	left: 0;
}
.title {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.title.show {
  opacity: 1;
}
#areaForImages{
  padding:100px
}
.the-arrow {
	 width: 1px;
	 transition: all 0.2s;
}
 .the-arrow.-left {
	 position: absolute;
	 top: 60%;
	 left: 0;
}
 .the-arrow.-left > .shaft {
	 width: 0;
	 background-color: #4c4c4c;
}
 .the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
	 width: 0;
	 background-color: #4c4c4c;
}
 .the-arrow.-left > .shaft:before {
	 transform: rotate(0);
}
 .the-arrow.-left > .shaft:after {
	 transform: rotate(0);
}
 .the-arrow.-right {
	 top: 3px;
}
 .the-arrow.-right > .shaft {
	 width: 1px;
	 transition-delay: 0.2s;
}
 .the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
	 width: 8px;
	 transition-delay: 0.3s;
	 transition: all 0.5s;
}
 .the-arrow.-right > .shaft:before {
	 transform: rotate(40deg);
}
 .the-arrow.-right > .shaft:after {
	 transform: rotate(-40deg);
}
 .the-arrow > .shaft {
	 background-color: #4c4c4c;
	 display: block;
	 height: 1px;
	 position: relative;
	 transition: all 0.2s;
	 transition-delay: 0;
	 will-change: transform;
}
 .the-arrow > .shaft:before, .the-arrow > .shaft:after {
	 background-color: #4c4c4c;
	 content: '';
	 display: block;
	 height: 1px;
	 position: absolute;
	 top: 0;
	 right: 0;
	 transition: all 0.2s;
	 transition-delay: 0;
}
.the-arrow > .shaft:before {
	 transform-origin: top right;
}
 .the-arrow > .shaft:after {
	 transform-origin: bottom right;
}
.backArrow .the-arrow > .shaft:before {
	 transform-origin: top left;
}
 .backArrow .the-arrow > .shaft:after {
	 transform-origin: bottom left;
}
 .animated-arrow {
	 display: inline-block;
	 color: #4c4c4c;
	 font-size: 1.25em;
	 font-style: italic;
	 text-decoration: none;
	 position: relative;
	 transition: all 0.2s;
}
 .animated-arrow:hover {
	 color: #808080;
   cursor: pointer;
}
 .animated-arrow:hover > .the-arrow.-left > .shaft {
	 width: 64px;
	 transition-delay: 0.1s;
	 background-color: #808080;
}
 .animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
	 width: 8px;
	 transition-delay: 0.1s;
	 background-color: #808080;
}
 .animated-arrow:hover > .the-arrow.-left > .shaft:before {
	 transform: rotate(40deg);
}
 .animated-arrow:hover > .the-arrow.-left > .shaft:after {
	 transform: rotate(-40deg);
}
.col .animated-arrow:hover > .the-arrow.-left > .shaft:before {
   margin-right: 58.5px;
	 transform: rotate(-40deg);
}
 .col .animated-arrow:hover > .the-arrow.-left > .shaft:after {
	 transform: rotate(40deg);
   margin-right: 58.5px;
}
 .animated-arrow:hover > .main {
	 transform: translateX(17px);
	 transform: translateX(80px);
}

 .animated-arrow:hover > .main > .the-arrow.-right > .shaft {
	 width: 0;
	 transform: translateX(200%);
	 transition-delay: 0;
}
 .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
	 width: 0;
	 transition-delay: 0;
	 transition: all 0.1s;
}
 .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
	 transform: rotate(180deg);
}
 .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
	 transform: rotate(180deg);
}

 .animated-arrow > .main {
	 display: flex;
	 align-items: center;
	 transition: all 0.2s;
}
 .animated-arrow > .main > .text {
	 margin: 0 16px 0 0;
	 line-height: 1;
}
 .animated-arrow > .main > .the-arrow {
	 position: relative;
}

 .text{
  font-size: 12px;
color: white; }
.modal, .modal-header .modal-title, .modal-body{
  text-align: center;
  width: 100%;
  
}
.btn-primary{
  background-color: rgb(49,48,48);
  color: white;
  border-color: rgb(49,48,48) !important;

}
.btn-primary:hover{
  background-color: rgb(0,191,111);
}

.btn-primary:active,.btn-primary:focus{
  background-color: rgb(0,191,111);
  color: white;
  border-color: rgb(49,48,48) !important;
  outline: none;
  box-shadow: none;
}

.modal-body {
 
  font-size: 14px; 
}
.modal.animated {
  animation-duration: 0.75s;
  animation-fill-mode: both;
  animation-name: bounceDown;
}
.modals p{
  color: black;
}
@keyframes bounceDown {
  0% {
    transform: translateY(-2000px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(30px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
  }
}
.badge{
  display: inline;
      margin: 10px;
      text-align: center;
}
.peep,.image{
  margin: 10px;
}
@media (max-width: 990px) {
  .owl-item{
    width: 50%;
}    
}
.modal{
  z-index: 99999999999999999999999999;
}
@media (max-width:600px) {
  .mobile{
    display: block;
  }
  #areaForImages{
    display: none;
  }
}
@media (min-width:600px) {
  .mobile{
    display: none;
  }
  
}
.img-fluid{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#areaForImages{
  height: 100vh;
  overflow-y: auto;
}
</style>
<body id="people">
  <div class="main">
    <div class="part1">
      <section class="person">
        <div class="container-fluid first">
          <div class="row" >
            <div class="col-lg-8 " id="move">
              
              <div class="container tomove" >
                <div class="content">
                  <div class="imageArea" style=" right: -80px; position: absolute; top:100px" >
                
                    <img class="image" src="/assets/img/{{page.pid}}.jpg">  
                  
                </div>
                <div class="name">
                  <h1>{{page.forname}} {{page.surname}}</h1>
                </div>
                <div class="tags " >
                     
                  {% assign tags = page.tags | sample: 3 %}
              {% for tag in tags %}
              
                <span class="badge" >
                  <p class="tag" >{{tag}}</p></span> 
              {% endfor %}
                </div>
                <div class="about">
                  <p>{{page.excerpt}}</p>  
                </div>
                
              <div class="row toArrow">
                
                <div class="col-8 arrow">
                  <a class="animated-arrow">
                    <span class="the-arrow -left">
                      <span class="shaft"></span>
                    </span>
                    <span class="main">
                      <span class="text">
                        <p>Check out my projects</p>
                      </span>
                      <span class="the-arrow -right">
                        <span class="shaft"></span>
                      </span>
                    </span></a>
                    
                </div>
              </div>
              <div class="container-fluid second"> 
                <div class="row otherrow">
                 
                  <div class="col backArrow">
                    <a class="animated-arrow">
                      <span class="the-arrow -left">
                        <span class="shaft"></span>
                      </span>
                      <span class="main">
                        <span class="text">
                          <p>Go Back</p>
                        </span>
                        <span class="the-arrow -right">
                          <span class="shaft"></span>
                        </span>
                      </span>
                    </a>
                  </div>
                </div>
                </div></div>
              </div>
              
            </div>
            <div class="col-lg-4" id="backImage" >
              <div class="mobile">
                <div class="row">
                  {% assign my_counter = 0 %}
                {% for project in site.projects %}
                
                {% if project.people contains {{page.pid}} %} 
                {% assign my_counter = my_counter | plus: 1  %}
                {% if project.link != "none" %}
                {% assign link = project.link %}
               
                  <div class="col-xxl-12 projectList">
                      
                    <a class="p-3" href="{{link}}"  id="projectImage{{my_counter}}">
                      <img  src="/assets/img/projects/{{project.theme[0]}}/{{project.pid}}.png" class="img-fluid">
                      <div class="title">{{project.title}}</div>
                    </a>
                  </div>
                  {% else %}
                  <div class="col-xxl-12 projectList">
                    <a class="p-3" data-bs-toggle="modal" data-bs-target="#exampleModal{{my_counter}}" id="projectImage{{my_counter}}">
                      <img src="/assets/img/projects/{{project.theme}}/{{project.pid}}.png" 
                      class="img-fluid">
                      <div class="title">{{project.title}}</div>
                    </a>
                    </div>
                    
                  {% endif %}
                {% endif %}
                 {% endfor %}
                </div>
              </div>
            <div class="container" id="areaForImages">
              <div class="row">
                {% assign my_counter = 0 %}
              {% for project in site.projects %}
              
              {% if project.people contains {{page.pid}} %} 
              {% assign my_counter = my_counter | plus: 1  %}
              {% if project.link != "none" %}
              {% assign link = project.link %}
             
                <div class="col-4 projectList">
                    
                  <a class="p-3" href="{{link}}"  id="projectImage{{my_counter}}">
                    <img  src="/assets/img/projects/{{project.theme[0]}}/{{project.pid}}.png">
                    <div class="title">{{project.title}}</div>
                  </a>
                </div>
                {% else %}
                <div class="col-4 projectList">
                  <a class="p-3" data-bs-toggle="modal" data-bs-target="#exampleModal{{my_counter}}" id="projectImage{{my_counter}}">
                    <img src="/assets/img/projects/{{project.theme}}/{{project.pid}}.png" 
                    class="img-fluid">
                    <div class="title">{{project.title}}</div>
                  </a>
                  </div>
                  
                {% endif %}
              {% endif %}
               {% endfor %}
              </div>
            </div>
             
              
            </div>
            

            </div>
          
        </div>
      </section>
    </div>
  
    <div class="modals">
      {% assign my_counter = 0 %}
      {% for project in site.projects %}
      
      {% if project.people contains {{page.pid}} %} 
      {% assign my_counter = my_counter | plus: 1  %}
      {% if project.link == "none" %}
      {% assign link = project.link %}
    <div class="modal fade animated bounce-down" id="exampleModal{{my_counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          
          <div class="modal-header">
            <h1 style="color: black;" class="modal-title fs-5" id="exampleModalLabel">{{project.title}}</h1>
            
          </div>
          <div class="modal-body">
            <p>{{project.excerpt}}</p>
            <br>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    </div>
  </div>
  
  </div>
</body>

<script>
 
  $(".arrow").click(function() {
    var Width = window.innerWidth;
    var result = Width * 32 / 100
    $("#move").removeClass("col-lg-8");
    $("#move").addClass("col-lg-4");
    $(".tomove").animate({"padding":"0px","height":"100%"},500);
    $("#backImage").removeClass("col-lg-4");
    $("#backImage").addClass("col-lg-8");
    $(".content").animate({"padding-top":"100px","padding-left":"50px"})
    $(".imageArea").removeAttr("style")
    $(".toArrow").hide();
    $(".otherrow").show();
    
    var observer = new IntersectionObserver(function(entries) {
    entries.forEach(function(entry) {
        if (entry.isIntersecting) {
            var element = $(entry.target);
            var title = element.find(".title");
            element.addClass("startAnimation");
            title.addClass("show");
            observer.unobserve(entry.target);
        }
    });
}, { rootMargin: "0px 0px -200px 0px" });

$(".p-3").each(function(index) {
    observer.observe(this);
});




    $(".imageArea").css("position", "relative");
    $(".imageArea").css("margin-bottom", "20px");
     });
 $(".backArrow").click(function() {
    $("#move").removeClass("col-lg-4");
    $("#move").addClass("col-lg-8");
    $(".tomove").removeAttr('style'); 
    $("#backImage").removeClass("col-lg-8");
    $("#backImage").addClass("col-lg-4");
    $(".imageArea").animate({
  right: "-80px",
  top: "100px"
}, 500); 
$(".imageArea").css({"right" : "-80px", "position":"absolute", "top":"100px"}); 

 
    $(".content").removeAttr('style'); 
    $(".toArrow").show();
    $(".otherrow").hide();
    $(".p-3").removeClass("startAnimation");
    $(".title").removeClass("show");

 });
 
</script>