---
layout: default
title: People
---
<links>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Della+Respira&display=swap" rel="stylesheet"> 
</links>

<style>
  h1{
    font-family: 'Della Respira', serif;
    padding:5px;
    letter-spacing: 1px;
    text-align: center;
    
  }
  .col-4 img{
    width:300px; height: auto; border-radius: 50%; margin: auto;    
    display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.two{
  position: absolute;
  bottom: 0;
  right: 12px;
  width: 70%;
  height: 50px;

  background-image: linear-gradient(to right, rgb(49,48,48) 40%, 
  rgb(0,191,111));
}
@media (max-width: 992px) {
    .col-4 img {
       height: auto;
       width: 200px; 
    } 
    .badge{
      font-size:14px;
      font-family: 'Della Respira', serif; 
      color: white;
      display: inline;

      text-align: center;
    }
}
@media (min-width: 992px) {
    
  .badge{
    font-family: 'Della Respira', serif;
  font-size: 20px;
  color: white;
  display: inline;
      
      text-align: center;
}

}
.person-info{
  border-bottom: 1px solid black;
}

</style>
<body id="people">
  <div class="main">
    <section class="person-info" style="position:relative;height: 75vh; color:white; background-color: rgb(49,48,48);">
      <div class="container d-flex" style="height: inherit;">
        <div class="row align-self-center w-100" >
          <div class="col-4">
            <img src="/assets/img/{{page.pid}}.jpg">  
          </div>
          
          <div class="col-8  align-self-center ">
            <div class="text" style="display: inline-flex;  ">
              <h1 class="forename" >{{page.forname}} </h1>
              <h1 class="surname" >{{page.surname}}</h1>
            </div>
            <div class="row">
              <div class="tags " style="display: inline-flex; margin-top: 50px;">
                {% assign tags = page.tags | sample: 3 %}
            {% for tag in tags %}
            
              <span class="badge d-flex justify-content-center align-self-center" >{{tag}}</span> 
            {% endfor %}
              </div>
            </div>
          </div>
          
          
        </div>
        <div class="row align-self-center two" style="">
          <div class="col-12" >
            <h2 style="float: right;"> MY PROJECTS</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="person-projects">
      <div class="container d-flex">
        
      </div>
    </section>
    <section class="project-list" style="margin-top: 100px;">
      <div class="container d-flex">
        <div class="row gy-5 align-self-center w-100">
          {% for project in site.projects %}
          
          {% if project.people contains {{page.pid}} %} 
          <div class="col-md-4  justify-content-center align-self-center">
            <div class="header" style="background-color: rgb(49,48,48); padding: 10px 0  ;">
            <h4 style="text-align: center; color:white;font-family: 'Della Respira', serif;">{{project.name}} </h4>
          </div>
          <div class="image">
            <img src="/assets/img/projects/{{project.theme}}/{{project.pid}}.png" class="img-fluid">
            
            </div>
        </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>



  </div>
</body>